.inline-header {
    display: inline-block;
}

body {
    background-color: #1a1a1d;
    color: #f3f3f3;
}

.card {
    background-color: #28282a;
    color: #f3f3f3;
}

.btn {
    border: 1px solid #f3f3f3;
}

.btn-success {
    background-color: #1f7a1f;
    color: #f3f3f3;
}

.btn-danger {
    background-color: #7a1f1f;
    color: #f3f3f3;
}

.btn-warning {
    background-color: #7a7a1f;
    color: #f3f3f3;
}

.list-group-item {
    background-color: #28282a;
    color: #f3f3f3;
}

.rightalign {
    float: right;
    position:relative;
    top:15px;
}

.btn-logout {
    background-color: grey;
    color: #f3f3f3;
}

.btn-login {
    background-color: grey;
    color: #f3f3f3;
    position:relative;
    top:5px;
}

.center-login {
 border: 5px solid;
  margin: auto;
  width: 270px;
  padding: 10px;
}

.server-indicator {
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    position: relative;
}

@media (min-width: 768px) {
  .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

    .server-indicator {
        height: 20px;
        right: 2px;
        top: 1px;
    }

  .rightalign {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
   .server-name {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Updated to center the content vertically */
        align-items: center; /* Updated to center the content horizontally */
        text-align: center;
    }

    .server-indicator{
        left: 5px;
        bottom: 3px;
    }

    .center {
      margin: auto;
      width: 100%;
    }

    .inline-header {
      margin: 0 auto;
    }

    .server-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 10px;
    }
}
