{% extends "bootstrap/base.html" %}

{% block content %}
<head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Your CSS file link -->
</head>
<div class="container">
    <div class="text-center my-4">
        <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="My Image">
        <h1>Black Squadron Gaming Server Manager</h1>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for server in servers %}
            <li class="list-group-item">
                    <div class="col text-left" style="display: inline-block;">
                        <h3 class="inline-header">{{ server.name }}</h3>
                    </div>
                    <div class="col rightalign" style="display: inline-block;">
                        <div id="{{ server.name }}-status-indicator" class="status-indicator">&nbsp;</div>
                        <script>
                        function checkStatus() {
                            {% for server in servers %}
                            fetch('/check/{{ server.name }}')
                                .then(response => response.text())
                                .then(data => {
                                    const serverStatusIndicator = document.querySelector('#{{ server.name }}-status-indicator');
                                    serverStatusIndicator.style.backgroundColor = data === 'online' ? 'green' : 'red';
                                });
                            {% endfor %}
                        }

                        // Call the checkStatus function initially
                        checkStatus();

                        // Call the checkStatus function every 5 seconds
                        setInterval(checkStatus, 5000);






                        </script>
                        <button id="start-{{ server.name }}" class="btn btn-success start-server">Start</button>
                        <button id="stop-{{ server.name }}" class="btn btn-danger stop-server">Shutdown</button>
                        <button id="restart-{{ server.name }}" class="btn btn-warning restart-server">Restart</button>

                        <script>
                        // For the Start buttons
                        document.querySelectorAll('.start-server').forEach(button => {
                            button.addEventListener('click', function(event) {
                                event.preventDefault();
                                const serverName = this.id.replace('start-', '');
                                fetch(`/start/${serverName}`)
                                    .then(response => response.text())
                                    .then(data => {
                                        console.log(`Server ${serverName} start status: ${data}`);
                                        checkStatus();
                                    });
                            });
                        });

                        // For the Stop buttons
                        document.querySelectorAll('.stop-server').forEach(button => {
                            button.addEventListener('click', function(event) {
                                event.preventDefault();
                                const serverName = this.id.replace('stop-', '');
                                fetch(`/stop/${serverName}`)
                                    .then(response => response.text())
                                    .then(data => {
                                        console.log(`Server ${serverName} stop status: ${data}`);
                                        checkStatus();
                                    });
                            });
                        });

                        // For the Restart buttons
                        document.querySelectorAll('.restart-server').forEach(button => {
                            button.addEventListener('click', function(event) {
                                event.preventDefault();
                                const serverName = this.id.replace('restart-', '');
                                fetch(`/restart/${serverName}`)
                                    .then(response => response.text())
                                    .then(data => {
                                        console.log(`Server ${serverName} restart status: ${data}`);
                                        checkStatus();
                                    });
                            });
                        });



                        </script>

                    </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
