{% extends "bootstrap/base.html" %}

{% block content %}
<head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Your CSS file link -->
</head>
<div class="container">
    <div class="text-center my-4">
        <h1>Black Squadron Gaming Server Manager</h1>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for server in servers %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div align="left">
                    <h3 class="inline-header">{{ server.name }}</h3>
                </div>
                <div align="right">
                    <div id="{{ server.name }}-status-indicator" class="status-indicator">&nbsp;</div>
                    <script>
function checkStatus() {
    {% for server in servers %}
    fetch('/check/{{ server.name }}')
        .then(response => response.text())
        .then(data => {
            const serverStatusIndicator = document.querySelector('#{{ server.name }}-status-indicator');
            serverStatusIndicator.style.backgroundColor = data === 'online' ? 'green' : 'red';
        });
    {% endfor %}
}

// Call the checkStatus function initially
checkStatus();

// Call the checkStatus function every 5 seconds
setInterval(checkStatus, 5000);

                    </script>
                    <button class="btn btn-success">Start</button>
                    <button class="btn btn-danger">Shutdown</button>
                    <button class="btn btn-warning">Restart</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
