{% extends "bootstrap/base.html" %}
{% block title %}
BKSQ Games
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="text-center my-4">
        <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">
            <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="My Image">
            <h1>Black Squadron Gaming Server Web Manager</h1>
        </a>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for server in servers %}
            <li class="list-group-item">

                {% if is_mobile %}
                <div class="server-name center" style="display: inline-block;">
                    <h3 class="inline-header">{{ server.name }} </h3>
                    <div id="{{ server.name.replace(' ', '_') }}-status-indicator" class="server-indicator">&nbsp;</div>
                </div>
                <div class="server-controls">
                    {% else %}
                    <div class="col text-left server-name" style="display: inline-block;">
                        <h3 class="inline-header">{{ server.name }}</h3>
                    </div>
                    <div class="server-controls">
                        <div id="{{ server.name.replace(' ', '_') }}-status-indicator" class="server-indicator">&nbsp;
                        </div>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <button id="start-{{ server.name.replace(' ', '_') }}"
                                class="spinner-button btn btn-success start-server"><i
                                class="fa fa-circle-o-notch fa-spin" style="display:none;"></i> Start
                        </button>
                        <button id="stop-{{ server.name.replace(' ', '_') }}"
                                class="spinner-button btn btn-danger stop-server"><i
                                class="fa fa-circle-o-notch fa-spin" style="display:none;"></i> Shutdown
                        </button>
                        <button id="restart-{{ server.name.replace(' ', '_') }}"
                                class="spinner-button btn btn-warning restart-server"><i
                                class="fa fa-circle-o-notch fa-spin" style="display:none;"></i> Restart
                        </button>
                        {% endif %}

                        <script>
                        function checkStatus() {
                            {% for server in servers %}
                            fetch('/check/{{ server.name }}')
                                .then(response => response.text())
                                .then(data => {
                                    const serverStatusIndicator = document.querySelector('#{{ server.name.replace(' ', '_') }}-status-indicator');
                                    serverStatusIndicator.style.backgroundColor = data === 'online' ? 'green' : 'red';
                                });
                            {% endfor %}
                        }
                        checkStatus();
                        setInterval(checkStatus, 5000);

                        // For the Start buttons
                        document.querySelectorAll('.start-server').forEach(button => {
                            button.addEventListener('click', function(event) {
                                event.preventDefault();

                                $(this).find('.fa-circle-o-notch').show();

                                const serverName = this.id.replace('start-', '');
                                fetch(`/start/${serverName}`)
                                    .then(response => {
                                        if (response.status === 401) {
                                            window.location.href = "/login";
                                        } else {
                                            return response.text();
                                        }
                                    })
                                    .then(data => {
                                        console.log(`Server ${serverName} start status: ${data}`);
                                        checkStatus();
                                        $(this).find('.fa-circle-o-notch').hide();
                                    });
                            });
                        });

                        // For the Stop buttons
                        document.querySelectorAll('.stop-server').forEach(button => {
                            button.addEventListener('click', function(event) {
                                event.preventDefault();

                                $(this).find('.fa-circle-o-notch').show();

                                const serverName = this.id.replace('stop-', '');
                                fetch(`/stop/${serverName}`)
                                    .then(response => {
                                        if (response.status === 401) {
                                            window.location.href = "/login";
                                        } else {
                                            return response.text();
                                        }
                                    })
                                    .then(data => {
                                        console.log(`Server ${serverName} stop status: ${data}`);
                                        checkStatus();
                                        $(this).find('.fa-circle-o-notch').hide();
                                    });
                            });
                        });

                        // For the Restart buttons
                        document.querySelectorAll('.restart-server').forEach(button => {
                            button.addEventListener('click', function(event) {
                                event.preventDefault();

                                $(this).find('.fa-circle-o-notch').show();

                                const serverName = this.id.replace('restart-', '');
                                fetch(`/restart/${serverName}`)
                                    .then(response => {
                                        if (response.status === 401) {
                                            window.location.href = "/login";
                                        } else {
                                            return response.text();
                                        }
                                    })
                                    .then(data => {
                                        console.log(`Server ${serverName} restart status: ${data}`);
                                        checkStatus();
                                        $(this).find('.fa-circle-o-notch').hide();

                                    });
                            });
                        });














                        </script>

                    </div>
            </li>
            {% endfor %}
        </ul>
        <div>
            <!--            <a href="{{ url_for('logout') }}" class="btn btn-secondary rightalign btn-logout">Logout</a>-->
            <a class="btn btn-secondary rightalign btn-logout" href="{{ url_for('logout') }}">
                {% if not current_user.is_authenticated %}
                Login
                {% else %}
                Logout
                {% endif %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
