{% extends "bootstrap/base.html" %}

{% block content %}
<head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Your CSS file link -->
    <title>BKSQ Login</title>
</head>
<div class="text-center my-4">
    <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">
        <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="My Image">
        <h1>Black Squadron Gaming Server Manager</h1>
    </a>
</div>
<div class="center-login">
    <form method="POST">
        Username: <input type="text" name="username" style="color:black;"><br>
        Password: <input type="password" name="password" style="color:black;position:relative;left:2px;"><br>
        <input type="submit" class="btn-login" value="Login">
    </form>
    <!--    <a href="{{ url_for('index') }}" class="btn-login">Back</a>-->

</div>

{% endblock %}
